.announcement{
    width: 100%;
    height: 100%; 
    position: absolute;
    z-index: 100;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
    background: rgba(0, 0, 0, 0.8);
}

.announcement.active{
    display: flex;
}

.announcement.hidden{
    display: none;
}

.deets{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 468px) {
    .deets h2{
        font-size: 1.3rem;
    }
}

