.card{
    height: 200px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    transition: all 1.5s ease;
    cursor: pointer;
    position: absolute;
    top: 0;
    --total: 4;
    --spacing: calc(100% / var(--total));
    /* --spacing: calc(100% / var((--total))); */
    left: calc(var(--index) * var(--spacing));
    box-shadow: 5px 0px 5px var(--color);
}

.card:nth-child(even){
    background: #0959d1;
    --color: #9f2c3f80;
}

.card:nth-child(odd){
    background: #9f2c3f;
    --color: #0959d180;
}

.card.active{
    transform: translate(0);
}

.card.hidden{
    transform: translateY(100vh);
}

.img-card{
    width: 70%;
    /* height: 70%; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* border: 1px solid red; */
}

.card > h2{
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
}