#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
  position: relative;
  width: 700px;
  height: 50vh;
  display: flex;
  place-items: center;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}

.container > *{
  position: absolute;
}

@media screen  and (max-width: 468px){
  #root{
    width: 100%;
  }

  .container{
    width: 70vw;
    margin: 0 auto;
  }
}